@model UnedFerreteria.Models.PrestamosModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PrestamosModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdColaborador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdColaborador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHerramienta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHerramienta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPrestamo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPrestamo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEsperada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEsperada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEntrega)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
